<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LOGIN</title>
  <!--  <link rel="stylesheet" href="../assets/login.css"> -->
</head>
<body>
  <!--  <div class="images-container">
        <div class="image1">
            <img src="../assets/image 9.png" alt="">
            
        </div>
        <div class="image2">
            <b><p class="is"> welcome back shaik</p></b>
            <img src="../assets/image 1.png" alt="">
            <div class="login">
                <button type="button" class="google-sign-in-button" >
                    Sign in with Google
                  </button> -->
                  
            </div>
            
           
             </div>
        
             <div class="from-row">
                
               
              <input type="email" id="fname" name="email" class="input-text"  placeholder="email">
              <br>  
              <br>
              <input type="password" id="lname" name="password" class="inputpassword" placeholder="password">
              <div class="checkbox">
              <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
              <label class="label" for="vehicle1"> REMEBERME</label></div>
              <div class="forgot">
               <a href="#link">FORGOT PASSWORD?</a>
              </div>
              <div class="containers">
                <div>
                  <input id="Create-acc" type="submit" value="Login">
                  <p class="pop"> donot have an account?<a href=#>Signup</a></p>
                  </div>
                  <div class="pop">
                  
                  </div>
           </div>
    </div>
</body>
</html>